Source: ros-kinetic-rtt-pcl
Section: misc
Priority: extra
Maintainer: Orocos Developers <orocos-dev@lists.mech.kuleuven.be>
Build-Depends: debhelper (>= 9.0.0), libpcl1.8-dev, ros-kinetic-catkin, ros-kinetic-rtt
Homepage: http://ros.org/wiki/rtt_pcl
Standards-Version: 3.9.2

Package: ros-kinetic-rtt-pcl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpcl-apps1.8, libpcl-common1.8, libpcl-features1.8, libpcl-filters1.8, libpcl-io1.8, libpcl-kdtree1.8, libpcl-keypoints1.8, libpcl-ml1.8, libpcl-octree1.8, libpcl-outofcore1.8, libpcl-people1.8, libpcl-recognition1.8, libpcl-registration1.8, libpcl-sample-consensus1.8, libpcl-search1.8, libpcl-segmentation1.8, libpcl-stereo1.8, libpcl-surface1.8, libpcl-tracking1.8, libpcl-visualization1.8, libpcl1.8-dev, ros-kinetic-rtt
Description: An Orocos RTT typekit plugin for PCL types
